.header {
    width: 100%;
    height: 100vh;
    min-height: $min-h-lg;
    padding-top: 100px;
    .header--img {
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .header--text {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        .header_text--holder {
            p {
                margin-bottom: 50px;
            }
            .cta-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                h6 {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .hfl {
        position: absolute;
        bottom: -170px;
        left: 0;  
        z-index: 2; 
    }
    .hfr {
        position: absolute;
        bottom: -170px;
        right: 0;
        z-index: 2;
    }
}